*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    z-index:10;
    position: sticky;
    top: 0px;
}
.container2{
    background:url('raj2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* position: fixed; */
    /* top: 10px; */
}

.heading1{
    text-align: center;
    position: relative;
    top: 110px;
}
@media(max-width:768px){
    .heading1{
        /* position: relative; */
        top: 50px
    }
}

.propertyContainerChild{
    /* border: 2px solid black; */
    z-index: 0;
    border-radius: 8px;
    /* height: 100%; */
    /* width: 85%; */
    position: relative;
    top: 30%;
    margin: 65px;
    background: whitesmoke;
    /* box-shadow: 2 2 2 red; */
}
@media(max-width:768px){
 .propertyContainerChild{
      top: 12%;
 }

}
.select{
    margin: 20px;
    padding: 5px;
    width: 20%;
    /* width: 250px; */
    position: relative;
    /* left: 50px; */
}
@media(max-width:768px){
    .select{
        width: 75%;
    }
}
.selectbtn{
    margin: 18px;
    padding: 10px;
    width: 20%;
    background: yellow;
    border: 2px solid black;
    border-radius: 8px;
}
@media(max-width:768px){
    .selectbtn{
        width:75%;
    }
}

#alertcontainer{
    height: 50px;
    background:#2f2f;
    position:sticky;
    top: 55px;
    display: none; 
}
#heading2{
    text-align: center;
    padding: 10px;
}
#close{
    position: relative;
    left: 35%;
}
